<!DOCTYPE html>

<html lang="en">
    <head>
        <title> Gallery </title>

    </head>
    <body>
        <img src="armadillo.jpeg" alt="Plastic Armadillo">
        <h1> Gallery </h1>
        <p> 
            “You know, for a Force Captain, you don’t explain much,” Catra snided in return.

A hand snapped onto the cat’s neck, pushing her against the black garnet as Adora leaned in close, “I am your owner, Catra, and you are to treat me as such.” Her grip around the girl’s throat tightened slightly, “With respect, and humility. Do you understand?”

She looked the opposite way, “Y-Yes, Miss…”

“Good girl…” she leaned back to face her. Her fingers unwrap themselves slowly until it’s just her palm holding her there. “Would you like to know what good girls get, Catra?” The cat tried to look her in the eyes, but couldn’t find the strength. She nodded slowly.

Adora’s free hand landed onto the girl’s side, softly caressing her. Her fingers trailed over to her stomach, causing a flinch of a reaction. She smirked, enjoying the little shivers of her pet. Her index finger trailed down the center of her stomach.

Catra let out a very soft mewl as her lips mumbled something inaudible. The blonde’s finger slid farther and farther down, until her hand softly rested on the cat’s warm thighs. She bit her lip as Adora moved slowly, and cautiously. Caressing her inner thigh forced a moan from the cat’s lips. The blonde leaned in again, whispering into her ear, “Good girls get a reward.”
        </p>
    </body>
</html>