<!DOCTYPE html>

<html lang="en">
<head>
<link rel= "stylesheet" type="text/css" href="/Gallery/templates/Gallery/styles.css"/>
<meta charset="UTF-8">
<title> Navbar </title>
</head>
<body>

    <header>
        <div class="container">
        
            <nav>
                <ul>
                    <li><a href="#">Home_Page</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Essay</a></li>
                    <li><a href="#">Clothing</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>

    </header>
   
</body>
</html>