<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<link href="{% static 'Home_Page/styles.css' %}" rel= "stylesheet">
<script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
<meta charset="UTF-8">
<title> Navbar </title>
</head>
<body>
    <header>
        <div class="container">
        <h2><a href="{% url 'Home_Page' %}">Emma Harris</a></h2>
            <nav>
                <ul>
                    <li><a href="{% url 'Home_Page' %}">Home Page</a></li>
                    <li><a href="{% url 'Gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'Essay' %}">Essay</a></li>
                    <li><a href="{% url 'Clothing' %}">Clothing</a></li>
                    <li><a href="{% url 'About' %}">About</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <body class="content">   
    <div class="hometext">
        <h1><i href="{% url 'Clothing' %}" >Find Clothing That</i></h1>
        <h1><i href="{% url 'Clothing' %}" >Fits you</i></h1>
    </div>   

    <div class="homeheart">
        <a href="{% url 'Clothing' %}">♥</a>
    </div>
    
    <div class="s-m">
        <a href="https://www.instagram.com/emma_____harris/">
            <img alt="instagram" src="{% static 'Home_Page/instagram-symbol.png' %}">
             </a>
        <a href="https://twitter.com/emma_____harris">
        <img alt='twitter' src="{% static 'Home_Page/twitter-symbol.webp' %}">
        </a>
    </div>
    </body>
</body>
</html>