<!DOCTYPE html>

<html lang="en">
    <head>
        <title> About </title>

    </head>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
    
    <body>
        <img src="Screen.png" alt="About jpeg">
        <h1> About</h1>
        
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae odio in est facilisis suscipit sed faucibus justo. Ut posuere, nisi et facilisis congue, metus erat viverra lorem, ut consectetur nulla lorem at felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean maximus enim at dignissim ultricies. Ut ac faucibus nulla. Donec pharetra tellus sit amet orci volutpat gravida. Curabitur efficitur diam non tempus faucibus. Nullam sed neque ut eros commodo accumsan. Nunc at leo non libero ullamcorper cursus. Nam in sapien non erat sollicitudin pharetra nec eu lorem. Integer eu ligula orci. In vel dictum eros. Cras quis lorem neque. Donec pharetra ultrices mi, nec ultrices purus rhoncus nec.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi ac maximus libero. Pellentesque posuere sit amet elit a luctus. Mauris accumsan mollis dui, a condimentum lacus. Nulla id metus luctus, condimentum quam in, facilisis elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum dolor risus, lobortis vitae lorem fringilla, pretium malesuada odio. Cras accumsan, justo nec dignissim aliquam, lacus justo laoreet arcu, sed tincidunt neque eros sit amet nulla. Praesent auctor felis id nulla semper, et dictum enim bibendum. Donec iaculis hendrerit sapien sit amet ultricies.

Mauris quis neque ut turpis lobortis rutrum vel vitae lacus. Nam fringilla est quis justo tempus, posuere tincidunt neque sagittis. Nunc at vulputate nunc, et auctor eros. Sed vehicula lacus eget augue tempor, in gravida justo posuere. Curabitur rhoncus lectus viverra ligula consectetur cursus. Morbi nisi erat, aliquam sed dignissim vel, imperdiet laoreet justo. Fusce euismod lectus a felis rhoncus, eget scelerisque tortor molestie. Proin consectetur lorem eu efficitur ultrices.

Vestibulum et ex sit amet felis auctor lobortis et a lorem. Sed egestas mauris quis placerat commodo. Phasellus sollicitudin maximus nibh ac dapibus. Suspendisse vel enim ac metus iaculis consectetur. Curabitur sed arcu pharetra, convallis velit et, euismod augue. Fusce volutpat felis sit amet efficitur aliquet. Mauris vestibulum libero ac tortor ullamcorper mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper nisi at gravida vulputate. Maecenas faucibus nisi sit amet quam porttitor facilisis.

Suspendisse vel bibendum nibh. Quisque eu aliquam purus, vel sollicitudin enim. Mauris bibendum, nisi non bibendum faucibus, est nulla auctor mi, ut fringilla purus tortor ac sem. Phasellus eleifend lacus mi, quis dapibus tellus mattis vitae. Maecenas vehicula, neque feugiat sodales dignissim, lectus ipsum ultricies nisi, eu lacinia arcu velit egestas erat. Integer scelerisque ornare nibh, a tempor purus finibus eu. Donec eget diam semper, porttitor erat quis, venenatis massa. In vitae tristique dolor. Sed sollicitudin ut elit placerat viverra. Aliquam et tempor augue, vitae viverra tellus. Sed urna justo, cursus nec cursus a, tincidunt quis mauris. Vivamus dignissim nulla sit amet elit mollis pulvinar. Duis consectetur justo id lacinia fringilla. Donec massa ligula, aliquam tincidunt purus eget, eleifend tincidunt leo.
        </p>
    </body>
</html>